<%= form_for(candidate_vote) do |f| %>
  <% if candidate_vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(candidate_vote.errors.count, "error") %> prohibited this candidate_vote from being saved:</h2>

      <ul>
      <% candidate_vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :positive %>
    <%= f.check_box :positive %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :candidate_id %>
    <%= f.text_field :candidate_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
