<p id="notice"><%= notice %></p>

<h1>Candidate Votes</h1>

<table>
  <thead>
    <tr>
      <th>Positive</th>
      <th>User</th>
      <th>Candidate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidate_votes.each do |candidate_vote| %>
      <tr>
        <td><%= candidate_vote.positive %></td>
        <td><%= candidate_vote.user %></td>
        <td><%= candidate_vote.candidate %></td>
        <td><%= link_to 'Show', candidate_vote %></td>
        <td><%= link_to 'Edit', edit_candidate_vote_path(candidate_vote) %></td>
        <td><%= link_to 'Destroy', candidate_vote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Candidate Vote', new_candidate_vote_path %>
