<p id="notice"><%= notice %></p>

<h1>Tutorial Steps</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tutorial_steps.each do |tutorial_step| %>
      <tr>
        <td><%= tutorial_step.title %></td>
        <td><%= tutorial_step.text %></td>
        <td><%= tutorial_step.position %></td>
        <td><%= link_to 'Show', tutorial_step %></td>
        <td><%= link_to 'Edit', edit_tutorial_step_path(tutorial_step) %></td>
        <td><%= link_to 'Destroy', tutorial_step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tutorial Step', new_tutorial_step_path %>
