<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tutorial_step.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @tutorial_step.text %>
</p>

<p>
  <strong>Position:</strong>
  <%= @tutorial_step.position %>
</p>

<%= link_to 'Edit', edit_tutorial_step_path(@tutorial_step) %> |
<%= link_to 'Back', tutorial_steps_path %>
