<%= form_for(classification_vote) do |f| %>
  <% if classification_vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(classification_vote.errors.count, "error") %> prohibited this classification_vote from being saved:</h2>

      <ul>
      <% classification_vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :positive %>
    <%= f.check_box :positive %>
  </div>

  <div class="field">
    <%= f.label :classification_id %>
    <%= f.text_field :classification_id %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
