<p id="notice"><%= notice %></p>

<h1>Classification Votes</h1>

<table>
  <thead>
    <tr>
      <th>Positive</th>
      <th>Classification</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classification_votes.each do |classification_vote| %>
      <tr>
        <td><%= classification_vote.positive %></td>
        <td><%= classification_vote.classification %></td>
        <td><%= classification_vote.user %></td>
        <td><%= link_to 'Show', classification_vote %></td>
        <td><%= link_to 'Edit', edit_classification_vote_path(classification_vote) %></td>
        <td><%= link_to 'Destroy', classification_vote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classification Vote', new_classification_vote_path %>
