<p id="notice"><%= notice %></p>

<p>
  <strong>Positive:</strong>
  <%= @message_vote.positive %>
</p>

<p>
  <strong>User:</strong>
  <%= @message_vote.user %>
</p>

<p>
  <strong>Message:</strong>
  <%= @message_vote.message %>
</p>

<%= link_to 'Edit', edit_message_vote_path(@message_vote) %> |
<%= link_to 'Back', message_votes_path %>
